* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

header {
  content: "";
  display: table;
  clear: both;
  margin: 0 auto;
}

.container {
  width: 90vw;
  height: 100px;

  display: flex;

  background-color: gray;
}

.burger {
  display: none;
}

@media screen and (max-width: 938px){
    .header-right ul {
        display: none;
    }
    .header-right > a {
        display: block;
        height: 100%;
        line-height: 70px;
        float: right;
        color: lightgrey;
        font-size: 20px;
    }

    .burger.active {
        display: block;
    }
}
